# Learning More About Pandas
Pandas: Python package for tabular data analysis

In [ ]:
import pandas as pd

In [ ]:
# start with a list (Python)
start_list = [2, 4, 6, 8]
start_list

[2, 4, 6, 8]

In [ ]:
#create pandas series
start_series = pd.Series(start_list)
start_series

0    2
1    4
2    6
3    8
dtype: int64

In [ ]:
#get the series as an array
start_series.values

array([2, 4, 6, 8])

In [ ]:
#get the indices of the series
start_series.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
#select values from series
start_series[0]

2

In [ ]:
#select a range of values
print(start_series[0:3])

#get last value in the series
print(start_series[3])

#also get the last value of the series
start_series.iloc[-1]

0    2
1    4
2    6
dtype: int64
8

8

## Series as dictionaries

In [ ]:
sw_chars = {'Luke Skywalker': 70,
            'R2-D2': 20,
            'C3PO': 69}
sw_chars

{'Luke Skywalker': 70, 'R2-D2': 20, 'C3PO': 69}

In [ ]:
# use dictionary to initialize Series
dict_series = pd.Series(sw_chars)
dict_series

Luke Skywalker    70
R2-D2             20
C3PO              69
dtype: int64

In [ ]:
# indexing as a dictionary with key-value pairs
dict_series['R2-D2']
dict_series.index

Index(['Luke Skywalker', 'R2-D2', 'C3PO'], dtype='object')

## Selection with indexers
`.iloc`, `.loc`

In [ ]:
#allows lookup by index position
print(dict_series.iloc[0])
dict_series[0:2]

70

Luke Skywalker    70
R2-D2             20
dtype: int64

In [ ]:
#allows lookup by keys
print(dict_series.loc['Luke Skywalker'])

# we can also do slicing with keys
dict_series.loc['Luke Skywalker':]

70

Luke Skywalker    70
R2-D2             20
C3PO              69
dtype: int64

In [ ]:
#reference keys directly
dict_series.keys()

Index(['Luke Skywalker', 'R2-D2', 'C3PO'], dtype='object')

# Dataframes

In [ ]:
#read in data
sw_df = pd.read_csv('https://raw.githubusercontent.com/tidyverse/dplyr/cf8031d00f406c6dc5d483d7e9e34639df797b81/data-raw/starwars.csv')

In [ ]:
# get first 5 rows
sw_df.head()

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species,films,vehicles,starships
0,Luke Skywalker,172.0,77.0,blond,fair,blue,19.0,male,masculine,Tatooine,Human,"The Empire Strikes Back, Revenge of the Sith, ...","Snowspeeder, Imperial Speeder Bike","X-wing, Imperial shuttle"
1,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,masculine,Tatooine,Droid,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN
2,R2-D2,96.0,32.0,NaN,"white, blue",red,33.0,none,masculine,Naboo,Droid,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN
3,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,Human,"The Empire Strikes Back, Revenge of the Sith, ...",NaN,TIE Advanced x1
4,Leia Organa,150.0,49.0,brown,light,brown,19.0,female,feminine,Alderaan,Human,"The Empire Strikes Back, Revenge of the Sith, ...",Imperial Speeder Bike,NaN

In [ ]:
# get last 5 rows
sw_df.tail()

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species,films,vehicles,starships
82,Rey,NaN,NaN,brown,light,hazel,NaN,female,feminine,NaN,Human,The Force Awakens,NaN,NaN
83,Poe Dameron,NaN,NaN,brown,light,brown,NaN,male,masculine,NaN,Human,The Force Awakens,NaN,T-70 X-wing fighter
84,BB8,NaN,NaN,none,none,black,NaN,none,masculine,NaN,Droid,The Force Awakens,NaN,NaN
85,Captain Phasma,NaN,NaN,unknown,unknown,unknown,NaN,NaN,NaN,NaN,NaN,The Force Awakens,NaN,NaN
86,Padmé Amidala,165.0,45.0,brown,light,brown,46.0,female,feminine,Naboo,Human,"Attack of the Clones, The Phantom Menace, Reve...",NaN,"H-type Nubian yacht, Naboo star skiff, Naboo f..."

In [ ]:
# get information about NaNs
sw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        87 non-null     object
 1   height      81 non-null     float64
 2   mass        59 non-null     float64
 3   hair_color  82 non-null     object
 4   skin_color  87 non-null     object
 5   eye_color   87 non-null     object
 6   birth_year  43 non-null     float64
 7   sex         83 non-null     object
 8   gender      83 non-null     object
 9   homeworld   77 non-null     object
 10  species     83 non-null     object
 11  films       87 non-null     object
 12  vehicles    11 non-null     object
 13  starships   20 non-null     object
dtypes: float64(3), object(11)
memory usage: 9.6+ KB

In [ ]:
# get information about the shape
print(sw_df.shape)
no_rows = sw_df.shape[0]
no_cols = sw_df.shape[1]
print(no_rows, no_cols)

(87, 14)
87 14

In [ ]:
sw_df.describe()

           height         mass  birth_year
count   81.000000    59.000000   43.000000
mean   174.358025    97.311864   87.565116
std     34.770429   169.457163  154.691439
min     66.000000    15.000000    8.000000
25%    167.000000    55.600000   35.000000
50%    180.000000    79.000000   52.000000
75%    191.000000    84.500000   72.000000
max    264.000000  1358.000000  896.000000

In [ ]:
sw_df

,name,height,mass,hair_color,skin_color,eye_color,birth_year,sex,gender,homeworld,species,films,vehicles,starships
0,Luke Skywalker,172.0,77.0,blond,fair,blue,19.0,male,masculine,Tatooine,Human,"The Empire Strikes Back, Revenge of the Sith, ...","Snowspeeder, Imperial Speeder Bike","X-wing, Imperial shuttle"
1,C-3PO,167.0,75.0,NaN,gold,yellow,112.0,none,masculine,Tatooine,Droid,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN
2,R2-D2,96.0,32.0,NaN,"white, blue",red,33.0,none,masculine,Naboo,Droid,"The Empire Strikes Back, Attack of the Clones,...",NaN,NaN
3,Darth Vader,202.0,136.0,none,white,yellow,41.9,male,masculine,Tatooine,Human,"The Empire Strikes Back, Revenge of the Sith, ...",NaN,TIE Advanced x1
4,Leia Organa,150.0,49.0,brown,light,brown,19.0,female,feminine,Alderaan,Human,"The Empire Strikes Back, Revenge of the Sith, ...",Imperial Speeder Bike,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,Rey,NaN,NaN,brown,light,hazel,NaN,female,feminine,NaN,Human,The Force Awakens,NaN,NaN
83,Poe Dameron,NaN,NaN,brown,light,brown,NaN,male,masculine,NaN,Human,The Force Awakens,NaN,T-70 X-wing fighter
84,BB8,NaN,NaN,none,none,black,NaN,none,masculine,NaN,Droid,The Force Awakens,NaN,NaN
85,Captain Phasma,NaN,NaN,unknown,unknown,unknown,NaN,NaN,NaN,NaN,NaN,The Force Awakens,NaN,NaN
86,Padmé Amidala,165.0,45.0,brown,light,brown,46.0,female,feminine,Naboo,Human,"Attack of the Clones, The Phantom Menace, Reve...",NaN,"H-type Nubian yacht, Naboo star skiff, Naboo f..."

# Grammar of Data Manipulation
## `select`
Choosing a column(s)

In [ ]:
# who is the oldest character
by_col = sw_df['birth_year']
type(by_col)

pandas.core.series.Series

In [ ]:
oldest_character_age = by_col.max()
oldest_character_age

896.0

In [ ]:
# Count all types of hair colors
sw_df['hair_color'].value_counts()

none             37
brown            18
black            13
white             4
blond             3
brown, grey       1
auburn, white     1
auburn, grey      1
grey              1
auburn            1
blonde            1
unknown           1
Name: hair_color, dtype: int64

In [ ]:
print(sw_df.iloc[0, 0])
sw_df.iloc[0,1]

Luke Skywalker

172.0

In [ ]:
sw_df.columns

Index(['name', 'height', 'mass', 'hair_color', 'skin_color', 'eye_color',
       'birth_year', 'sex', 'gender', 'homeworld', 'species', 'films',
       'vehicles', 'starships'],
      dtype='object')

In [ ]:
print(sw_df.loc[0, 'height'])

172.0

In [ ]:
sw_df.index

RangeIndex(start=0, stop=87, step=1)

In [ ]:
type(sw_df.iloc[0,:])

pandas.core.series.Series